<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <title>WebUploader演示</title>
  <link rel="stylesheet" type="text/css" href="./webuploader.css" />
</head>

<body>
  <div id="uploader">
    <div class="queueList">
      <div class="placeholder">
        <div id="filePicker"></div>
      </div>
    </div>
    <div class="statusBar" style="display:none;">
      <div class="progress">
        <span class="text">0%</span>
        <span class="percentage"></span>
      </div>
      <div class="info"></div>
      <div class="btns">
        <div id="filePicker2"></div>
        <div class="uploadBtn">开始上传</div>
      </div>
    </div>
  </div>
  <script src="../../lib/require.js" data-main="./main.js"></script>
</body>

</html>
