<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>短信、图形验证码组件demo</title>
</head>

<body>
	<h3>验证码组件</h3>
	<div id="verificationCode-image"></div>

	<div id="verificationCode-message"></div>
	<script src="http://cdn.bootcss.com/reqwest/2.0.1/reqwest.min.js"></script>
	<script src="http://cdn.bootcss.com/require.js/2.1.10/require.min.js" data-main="./main"></script>
	<!-- <script src="../../../lib/reqwest.min.js"></script>
	<script src="./VerificationCode.js"></script>
	<script src="./main.js"></script> -->
</body>

</html>
