<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Dialog</title>
  <link rel="stylesheet" href="./skin/Dialog.css">
</head>

<body>
  <div>
    <!-- Example -->
    <a href="javascript:;" id="alert">alert</a>
    <a href="javascript:;" id="confirm">confirm</a>
    <a href="javascript:;" id="html">自定义html内容</a>
    <a href="javascript:;" id="iframe">iframe新窗口</a>
    <a href="javascript:;" id="loading">loading</a>
    <a href="javascript:;" id="tab">tab层</a>
  </div>
  <script src="../../../lib/require.js" data-main="./main.js"></script>
</body>

</html>
